.container {
  & > h1 {
    margin-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: bold;
  }
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.claimContainer {
  width: 100%;
}
.claimContainer .item {
  padding: 0 20px;
  background-color: #dbd2b2;
  overflow: hidden;
  margin: 10px;
}
.claimContainer .itemRight,
.claimContainer .itemLeft {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float: left;
  padding: 20px;
}
.claimContainer .itemRight {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 30px 0 0;
  margin-right: 20px;
  width: 25%;
  position: relative;
  height: 200px;
}
.claimContainer .itemRight .upBorder,
.claimContainer .itemRight .downBorder {
  padding: 14px 15px;
  background-color: #111;
  border-radius: 50%;
  position: absolute;
}
.claimContainer .itemRight .upBorder {
  top: -8px;
  right: -35px;
}
.claimContainer .itemRight .downBorder {
  bottom: -13px;
  right: -35px;
}
.claimContainer .itemLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 70%;
  height: 200px;
  padding: 30px 0 30px 40px;
  border-left: 3px dotted #999;

  color: #111;
}
@media only screen and (max-width: 1150px) {
  .claimContainer .item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-right: 20px;
  }
  div.claimContainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 20px auto;
  }
}

.title {
  height: 100%;

  text-align: center;
  color: #111;
  font-weight: bold;
}

.lottie {
  height: 85% !important;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: #999;
    padding: 10px;
    margin-left: 10px;

    &:hover {
      background-color: plum;
    }
  }
}

.betList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-right: 10px;

  & + & {
    margin-top: 10px;
  }
}
