.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  & > h1 {
    margin-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: bold;
  }
}

.inputContainer {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.explorerLink {
  display: flex;
  justify-content: flex-end;

  margin-top: 1rem;
}

.explorerLink {
  display: flex;
  justify-content: flex-end;

  margin-top: 1rem;

  color: #fff;
}

.selectContainer {
  margin-bottom: 10px;
}

.selectTitle {
  margin-bottom: 10px;
}

.selectContent {
  background-color: rgba(41, 41, 41, 0.5);
  padding: 10px;

  color: #fff;

  &:hover {
    background-color: rgba(41, 41, 41, 0.5);
  }
}
