.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.betStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amountInput {
  margin: 20px 0;
}
